bin
lib
build_files
doc
CMakeFiles
CMakeScripts
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
*.vcxproj*
*.sln
*.xcodeproj
*.xctestrun
Makefile
*.pyc
.hgignore
.idea
cmake-build-debug
build